<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
    
    <head>
        <title>mspapp</title>
        <link rel="stylesheet" media="all" th:href="@{css/style.css}"/>
        <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    </head>
    <body>
        <h2>メール</h2>
        
        <table>
            <tr th:each="user : ${mailusers}">
                <td th:text="$mailusers.mail}"></td>

                
            </tr>
        </table>
        
    </body>
</html>
