<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
<head th:fragment="base_header(title,links)">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

<link href="/css/styles.css" th:href="@{/css/styles.css}" rel="stylesheet"></link>
        <link href="/css/style.css" th:href="@{/css/style.css}" rel="stylesheet"></link>
        <link href="/css/style-responsive.css" th:href="@{/css/style-responsive.css}" rel="stylesheet"></link>
        <link href="/css/jquery.timepicker.css" th:href="@{/css/jquery.timepicker.css}" rel="stylesheet"></link>
        <link href="/bootstrap/css/bootstrap.css" th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet"></link>
        <link rel="stylesheet" href="/webjars/font-awesome/css/font-awesome.min.css"></link>

        
        <link rel="stylesheet" media="all" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"
        th:src="@{/webjars/jquery/1.12.4/jquery.min.js}"></script>
        <script src="/js/jquery.timepicker.min.js" th:src="@{/js/jquery.timepicker.min.js}"></script>
        <script type="text/javascript" src="/js/custom.js" th:src="@{/js/custom.js}"></script>
        <script src="/js/footerFixed.js" th:src="@{/js/footerFixed.js}"></script>

</head>
<body>

</body>
</html>