<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">

    <!--head読み込み-->
    <div th:replace="header :: head"></div>
    <!--headここまで-->

    <body>


        <!-- headerナビ -->
        <div th:replace="nav :: navi_bar"></div>
        <!-- headerナビここまで -->

        <div class="container section">

            <table class="table">
                <thead>
                    <tr>
                        <th><abbr title="title">案件名</abbr></th>
                        <th>タスク内容</th>
                        <!-- <th><abbr title="time">作業時間</abbr></th> -->
                        <th><abbr title="status">ステータス</abbr></th>
                    </tr>
                </thead>
                <tbody>

                    <tr th:each="task : ${tasks}">
                        <th th:text="${task.title}"></th>
                        <td th:text="${task.content}"></td>
                        <!-- <td></td> -->
                        <div th:unless="${task.done}">
                            <td></td>
                        </div>
                        <div th:if="${task.done}">
                            <td>完了</td>
                        </div>
                        <div th:unless="${task.done}">
                            <td class="btn_done">
                                <form th:action="@{/done}" method="post">
                                    <button type="submit" class="button is-success">Done</button> 
                                    <input type="hidden" name="id" th:value="${task.id}"></input>
                                </form>
                            </td>
                        </div>
                        <td class="btn_delete">
                            <form th:action="@{/delete}" method="post">
                                <button type="submit" class="button is-success">削除</button> 
                                <input type="hidden" name="id" th:value="${task.id}"></input>
                            </form>
                        </td>
                        <!--</div>-->
                    </tr>
                </tbody>
            </table>

        </div>


        <!--フッター読み込み-->
        <div th:replace="footer :: copy"></div>
        <!--フッターここまで-->


    </body>

</html>
